.contenerr {
  position: relative;
  width: 100%;
  margin: 0;
}
.contenerr img {
  width: 100%;
}
.head {
  color: rgb(240, 236, 13);
  position: absolute;
  top: 10%;
  right: 25%;
  width: 100%;
  text-align: center;
  font-size: 4rem;
}
#banner {
  width: 20%;
  opacity: 0.4;
  top: 500%;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.start {
  top: 490px;
  background-color: rgb(26, 23, 23);
  opacity: 0.3;
}
#startlogo {
  width: 30%;
  position: relative;
  display: flex;
  margin-top: 80px;
  /* align-items: center; */
  /* text-decoration: none; */
  /* right: 210px; */
  margin-right: 120px;
  /* height: 100%; */
  /* cursor: pointer; */
  background-color: rgb(218, 191, 40);
  border-radius: 60%;
}
#backlogo {
  opacity: 0.1;
}
.banner {
  background-image: "https://cdn.wallpapersafari.com/88/76/zU3HLn.png";
}
