.contenerr {
  position: relative;
  width: 100%;
  margin: 0;
}
.contenerr img {
  width: 100%;
}
.head {
  color: rgb(240, 236, 13);
  position: absolute;
  top: 10%;
  right: 25%;
  width: 100%;
  text-align: center;
  font-size: 4rem;
}
#banner {
  width: 20%;
  opacity: 0.4;
  top: 500%;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
}
.start {
  top: 450px;
  background-color: rgb(26, 23, 23);
  opacity: 0.9;
}
#startlogo {
  width: 30%;
  position: relative;
  display: flex;
  margin-top: 80px;
 
  margin-right: 120px;
  
  background-color: rgb(218, 191, 40);
  border-radius: 60%;
}
#backlogo {
  opacity: 0.4;
  height: 45.5rem;
}
@media  screen and (max-width: 1084px){
  
}
