* {
  width: auto;
  height: auto;
  box-sizing: border-box;
}
.maindsplay {
  display: grid;
  grid-template: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 80px;
  width: 90%;
}

.imagshop {
  width: 50%;
}
#titel {
  font-size: 20px;
  margin-top: 130px;
  text-align: center;
  color: brown;
}
#balldel {
  width: 10%;
  color: white;
}
#itempricedel {
  font-size: 25px;
  color: rgb(211, 211, 211);
}
